<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>You've added a place to the list! Good job!</h1>
        <p>
            {{ newplace.getCity }}
            {{ newplace.getYear }}
            <img style="width:200px;" src="{{ newplace.getPicture }}">
        </p>
        <button><a href="/">Go back Home</a></button>
    </body>
</html>
