<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>You cleared your list of places!~</h1>
        <button><a href="/">Go back Home</a></button>
    </body>
</html>
