<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>PLACeS</title>
    </head>
    <body>
        <h1>Tell me where you've been:</h1>

        {% if places is not empty %}
            <p>Here are all the places you've been!</p>
            <ul>
                {% for place in places %}
                    <li>{{ place.getCity }}</li>
                    <li>{{ place.getYear }}</li>
                    <li><img style='width:200px;' src='{{ place.getPicture }}'</li>
                {% endfor %}
            </ul>
        {% endif %}

        <form action='/create_places' method='post'>
        <label for='city'>City:</label>
        <input id='city' name='city' type='text'>
        <br>
        <label for='year'>Year:</label>
        <input id='year' name='year' type='text'>
        <br>
        <label for='picture'>Picture:</label>
        <input id='picture' name='picture' type='text' placeholder="image url">
        <br>
        <button type='submit'>Add place</button>
    </form>
    <form action='/delete_places' method='post'>
        <button type='submit'>Delete All</button>
    </form>
    </body>
</html>
